.menu{
    display: flex;
    align-items: flex-end;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 100%;
    border: 1px solid #eeff00;
    border-radius:10px;
}

.menu:hover{
    transform: scale(1.0);  
    box-shadow: 0px 10px 20px #eeff00;
}

.logo{
    height: 100px;
}

.opcoes{
    font-size: 30px;
}

.opcoes:hover {
    transform: scale(1.2);
}

h1{
    color: #eeff00;
}

h2{
   color: #eeff00;
}

h3{
    color: #eeff00;
}

h4{
    color: #eeff00;
}

a{
    color: #eeff00;
}

body {
    font-family:Poppins;
    background-image: url(/Imagens/fundo.jpeg);
}

.card-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    background-image: url(/Imagens/fundo.jpeg);
}

.card1 {
    background-color: #630063;
    border-radius: 10px;
    border-color: #000;
    padding: 50px;
    margin: 1px;
    width: 30%; 
    text-align: center;
    color: #eeff00;
}

.card1:hover{
    transform: scale(1.1);
    box-shadow: 0px 10px 20px #eeff00;
}

.titulos{    
    background-image: url(/Imagens/fundo.jpeg);
    margin-top: 50px;
    width: 100%;
    height: 100;
    border: 1px solid #eeff00;
    border-radius:10px;
}

.titulo{
    color: #eeff00;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.subtitulo{
    color: #eeff00;
    padding: 25px;
    display: flex;
    justify-content: center;
}

.card-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    background-image: url(/Imagens/fundo.jpeg);
}

.card2 {
    background-color: #630063;
    border-radius: 10px;
    border-color: #000;
    padding: 50px;
    margin: 1px;
    width: 30%; 
    text-align: center;
    color: #eeff00;
}

.card2:hover{
    transform: scale(1.1);
    box-shadow: 0px 10px 20px #eeff00;
}


.card2 li {
    list-style-type: disc;
}

.card-container3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    background-image: url(/Imagens/fundo.jpeg);

}

.card3 {
    background-color: #630063;
    border-radius: 10px;
    border-color: #000;
    padding: 50px;
    margin: 1px;
    width: 30%; 
    text-align: center;
    color: #eeff00;
}

.card3:hover{
    transform: scale(1.1);
    box-shadow: 0px 10px 20px #eeff00;
}


.card3 li {
    list-style-type: disc;
}


.fake{
    color: #eeff00;
    font-size: 50px;
    display: flex;
    justify-content: space-around;
}


.grid-rodape{
    width: 100%;
    margin: 10px;
    justify-content: space-between;
    color: #eeff00;
    border: 1px solid #eeff00;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}


.row1 {
    grid-column-start: 1;
    grid-column-end: 2; 
}

.row2 {
    grid-column-start: 2;
    grid-column-end: 2; 
}

.comentario {
    grid-column-start: 3;
    grid-column-end: 3;
}

#texto{
    width: 590px;
    height: 120px;
    
}

.nome{
    width: 350px;
}
